<h1> Welcome to MakersBnB </h1>

<% @spaces.each do |space| %>
  <ul>
    <li>Property:
      <a href='/space/<%=space.id%>'>
        <%= space.name %>
      </a>
    </li>
    <li>Information:
      <%= space.information %>
    </li>
    <li>Location:
      <%= space.location %>
    </li>
    <li>Price:
      <%= space.price %>
    </li>
  </ul>
  <% end %>
